@keyframes deensimc-image-hotspot-soft-beat {
  0% {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes deensimc-image-hotspot-expand {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}
.elementor-widget-deensimc-image-hotspot {
  display: flex;
  justify-content: var(--background-align);
}
.elementor-widget-deensimc-image-hotspot .elementor-widget-container,
.elementor-widget-deensimc-image-hotspot:not(
    :has(.elementor-widget-container)
  ) {
  display: inline-block;
  height: var(--container-height);
  max-width: var(--container-max-width);
  position: relative;
  width: var(--container-width);
}
.elementor-widget-deensimc-image-hotspot .elementor-widget-container > img,
.elementor-widget-deensimc-image-hotspot:not(:has(.elementor-widget-container))
  > img {
  display: block;
  height: var(--container-height);
  opacity: var(--opacity, 1);
  width: var(--image-width, auto);
}
.deensimc-image-hotspot {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.deensimc-image-hotspot--position-left.deensimc-image-hotspot--position-top {
  transform: translate(
    calc(-1 * var(--hotspot-translate-x)),
    calc(-1 * var(--hotspot-translate-y))
  );
}
.deensimc-image-hotspot--position-left.deensimc-image-hotspot--position-bottom {
  transform: translate(
    calc(-1 * var(--hotspot-translate-x)),
    var(--hotspot-translate-y)
  );
}
.deensimc-image-hotspot--position-right.deensimc-image-hotspot--position-top {
  transform: translate(
    var(--hotspot-translate-x),
    calc(-1 * var(--hotspot-translate-y))
  );
}
.deensimc-image-hotspot--position-right.deensimc-image-hotspot--position-bottom {
  transform: translate(var(--hotspot-translate-x), var(--hotspot-translate-y));
}
.deensimc-image-hotspot--active {
  z-index: 2;
}
.deensimc-image-hotspot__inner-circle,
.deensimc-image-hotspot__outer-circle {
  border-radius: 50%;
  box-sizing: content-box;
  content: "";
  display: inline-block;
}
.deensimc-image-hotspot__inner-circle {
  background-color: var(--hotspot-color);
  left: 50%;
  padding: calc(var(--hotspot-size, 18px) / 2);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.deensimc-image-hotspot__outer-circle {
  background-color: var(--hotspot-color);
  padding: var(--hotspot-padding, 4px);
}
.deensimc-image-hotspot--icon .deensimc-image-hotspot__button,
.deensimc-image-hotspot__outer-circle {
  height: var(--hotspot-size, 18px);
  width: var(--hotspot-size, 18px);
}
.deensimc-image-hotspot--icon .deensimc-image-hotspot__button {
  box-sizing: content-box;
  font-size: var(--hotspot-size, 18px);
  line-height: 0;
}
.deensimc-image-hotspot__icon,
.deensimc-image-hotspot__label {
  align-items: center;
  display: flex;
  justify-content: center;
}
.deensimc-image-hotspot__icon svg,
.deensimc-image-hotspot__label svg {
  height: var(--hotspot-size, 18px);
  width: auto;
}
.deensimc-image-hotspot__button {
  color: var(--hotspot-color);
  cursor: pointer;
  display: grid;
  font-size: var(--hotspot-size, 18px);
  grid-auto-flow: column;
  justify-content: center;
  min-height: var(--hotspot-button-height);
  min-width: var(--hotspot-button-width);
  position: relative;
}
.deensimc-image-hotspot__button:before {
  box-sizing: content-box;
  content: "";
  height: 100%;
  left: -5px;
  padding: 5px;
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: -2;
}
.deensimc-image-hotspot__button svg {
  fill: var(--hotspot-color);
}
.deensimc-image-hotspot:not(.deensimc-image-hotspot--circle)
  .deensimc-image-hotspot__button {
  background-color: var(--hotspot-box-color);
  border-radius: var(--hotspot-border-radius, 3px);
  min-height: var(--hotspot-min-height);
  min-width: var(--hotspot-min-width);
  padding: var(--hotspot-padding, 4px);
}
.deensimc-image-hotspot:not(.deensimc-image-hotspot--circle)
  .deensimc-image-hotspot__button:before {
  border-radius: var(--hotspot-border-radius, 3px);
}
.deensimc-image-hotspot:not(.deensimc-image-hotspot--circle)
  .deensimc-image-hotspot--expand:before {
  background-color: var(--hotspot-box-color);
}
.deensimc-image-hotspot--overlay {
  opacity: 0.7;
  transition: opacity 0.2s;
}
.deensimc-image-hotspot--active .deensimc-image-hotspot--overlay,
.deensimc-image-hotspot--overlay:hover {
  opacity: 1;
}
.deensimc-image-hotspot--soft-beat {
  animation: deensimc-image-hotspot-soft-beat 0.7s infinite alternate;
  animation-timing-function: ease;
}
.deensimc-image-hotspot--expand .deensimc-image-hotspot__outer-circle {
  animation: deensimc-image-hotspot-expand 2s infinite;
}
.deensimc-image-hotspot:not(.deensimc-image-hotspot--circle)
  .deensimc-image-hotspot--expand:before {
  animation: deensimc-image-hotspot-expand 2s infinite;
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.deensimc-image-hotspot--sequenced {
  animation: fadeIn 0.3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.deensimc-image-hotspot__direction-mask {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}
.deensimc-image-hotspot__tooltip {
  background-color: var(--tooltip-color, #fff);
  border-radius: var(--tooltip-border-radius);
  color: var(--tooltip-text-color, #111);
  max-width: var(--tooltip-max-width);
  min-width: var(--tooltip-min-width, 200px);
  padding: var(--tooltip-padding, 8px);
  pointer-events: none;
  position: absolute;
  text-align: var(--tooltip-align);
  transform-origin: center center;
  transition-duration: var(--tooltip-transition-duration, 0.5s);
  transition-property: transform, opacity;
  white-space: var(--white-space, nowrap);
}
.deensimc-image-hotspot__tooltip p:last-of-type {
  margin: 0;
}
.deensimc-image-hotspot__direction-mask .deensimc-image-hotspot__tooltip {
  box-shadow: none !important;
  position: static;
}
.deensimc-image-hotspot--active .deensimc-image-hotspot__tooltip {
  pointer-events: visible;
}
.deensimc-image-hotspot--fade-in-out {
  opacity: 0;
}
.deensimc-image-hotspot--active .deensimc-image-hotspot--fade-in-out {
  opacity: 1;
}
.deensimc-image-hotspot--fade-grow {
  opacity: 0;
  transform: scale(0);
}
.deensimc-image-hotspot--active .deensimc-image-hotspot--fade-grow {
  opacity: 1;
  transform: scale(1);
}
.deensimc-image-hotspot--override-tooltip-animation-from-top,
.deensimc-image-hotspot--tooltip-animation-from-top {
  transform: translateY(calc(-100% - 1px));
}
.deensimc-image-hotspot--override-tooltip-animation-from-left,
.deensimc-image-hotspot--tooltip-animation-from-left {
  transform: translate(calc(-100% - 1px));
}
.deensimc-image-hotspot--override-tooltip-animation-from-right,
.deensimc-image-hotspot--tooltip-animation-from-right {
  transform: translate(calc(100% + 1px));
}
.deensimc-image-hotspot--override-tooltip-animation-from-bottom,
.deensimc-image-hotspot--tooltip-animation-from-bottom {
  transform: translateY(calc(100% + 1px));
}
.deensimc-image-hotspot--fade-direction {
  opacity: 0;
}
.deensimc-image-hotspot--active .deensimc-image-hotspot--fade-direction,
.deensimc-image-hotspot--active .deensimc-image-hotspot--slide-direction {
  opacity: 1;
  transform: translate(0) scale(1);
}
.deensimc-image-hotspot--show-tooltip {
  opacity: 1;
  pointer-events: visible;
  transform: translate(0);
  transition: none;
}
