.deensimc-button-marquee-container {
  position: relative;
  overflow: clip;
  width: fit-content;
  margin-inline: auto;
  white-space: nowrap;
  isolation: isolate;
  text-align: center;
  transition: all 200ms ease;
  background: blueviolet; /* dynamic */
  border-radius: 0.25rem; /* dynamic */
}
.deensimc-button,
.deensimc-button-text {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; /* dynamic */
  text-decoration: none; /* dynamic */
  color: white; /* dynamic */
  font-size: 1rem; /* dynamic */
  font-weight: 500; /* dynamic */
}
.deensimc-button {
  padding: 1rem 2rem; /* dynamic */
  z-index: 1;
}
.deensimc-button:hover {
  color: white;
}

.deensimc-button-marquee-track-wrapper {
  --button-text-gap: 1rem; /* dynamic */
  background: inherit;
  display: flex;
  align-items: center;
  gap: var(--button-text-gap);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  pointer-events: none;
  z-index: 2;
  transition: opacity 200ms ease;
}

.deensimc-button-marquee-track {
  display: flex;
  align-items: center;
  gap: var(--button-text-gap);
  animation: deensimcButtonMarqueeAnimation 45s linear infinite;
}

.deensimc-button-marquee-reverse .deensimc-button-marquee-track {
  animation-direction: reverse;
}

.deensimc-button-marquee-on-hover .deensimc-button-marquee-track-wrapper {
  opacity: 0;
}
.deensimc-button-marquee-on-hover:hover .deensimc-button-marquee-track-wrapper {
  opacity: 1;
}

.deensimc-button-marquee-init:hover .deensimc-button-marquee-track-wrapper {
  opacity: 0;
}

@keyframes deensimcButtonMarqueeAnimation {
  100% {
    transform: translateX(calc(-100% - var(--button-text-gap)));
  }
}
