.elementor-panel .ma-element--promotion > .elementor-element > .eicon-lock {
  right: auto;
  left: 5px;
}
.elementor-element .eicon-deensimc:after {
  content: "MA";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 3px 4px;
  border: 1px solid #474242;
  border-right: none;
  border-top: none;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2c2762;
  border-radius: 3px;
}

.elementor-element .deensimc-text-marquee-icon:before,
.elementor-element .deensimc-image-marquee-icon:before,
.elementor-element .deensimc-video-marquee-icon:before,
.elementor-element .deensimc-news-ticker-icon:before,
.elementor-element .deensimc-testimonial-marquee-icon:before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  width: 36px;
  height: 24px;
  display: block;
  animation: deensimcMarqueeIconScroll 3s infinite alternate ease-in-out;
}
.elementor-element .deensimc-text-marquee-icon:before {
  background-image: url("../icons/text.svg");
}
.elementor-element .deensimc-testimonial-marquee-icon:before {
  background-image: url("../icons/testimonial.svg");
}
.elementor-element .deensimc-image-marquee-icon:before {
  background-image: url("../icons/image-icon.svg");
}
.elementor-element .deensimc-video-marquee-icon:before {
  background-image: url("../icons/video-icon.svg");
}
.elementor-element .deensimc-news-ticker-icon:before {
  background-image: url("../icons/news.svg");
}

.elementor-element .deensimc-word-roller-icon:before {
  content: "";
  background-image: url("../icons/word-roller-5.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 24px;
  height: 24px;
  display: block;
  animation: deensimcMarqueeIconScrollVertical 6s infinite alternate ease-in-out;
}

@keyframes deensimcMarqueeIconScroll {
  to {
    background-position: right center;
  }
}

@keyframes deensimcMarqueeIconScrollVertical {
  /* Start at top */
  0% {
    background-position: center top;
  }
  12% {
    background-position: center top;
  } /* pause 1 */

  /* move a bit down */
  22% {
    background-position: center 25%;
  }
  34% {
    background-position: center 25%;
  } /* pause 2 */

  /* move further down */
  44% {
    background-position: center 50%;
  }
  56% {
    background-position: center 50%;
  } /* pause 3 */

  /* near bottom */
  66% {
    background-position: center 75%;
  }
  78% {
    background-position: center 75%;
  } /* pause 4 */

  /* end fully at bottom */
  88% {
    background-position: center 100%;
  }
  100% {
    background-position: center 100%;
  }
}

/*
Pro
*/
.elementor-element .eicon-deensimc-pro:after {
  content: "MA PRO";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 3px 4px;
  border: 1px solid #474242;
  border-right: none;
  border-top: none;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background-color: #e84b3e;
  border-radius: 3px;
}

.elementor-element .deensimcpro-media-marquee-icon:before,
.elementor-element .deensimcpro-card-marquee-icon:before,
.elementor-element .deensimcpro-testimonial-marquee-icon:before,
.elementor-element .deensimcpro-text-marquee-icon:before,
.elementor-element .deensimcpro-product-cat-marquee-icon:before,
.elementor-element .deensimcpro-post-marquee-icon:before,
.elementor-element .deensimcpro-sticky-cards-icon:before,
.elementor-element .deensimcpro-image-accordion-icon:before,
.elementor-element .deensimcpro-3d-grid-marquee-icon:before,
.elementor-element .deensimcpro-product-marquee-icon:before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  width: 36px;
  height: 24px;
  margin-inline: auto;
  display: block;
  animation: deensimcproMarqueeIconScroll 3s infinite alternate ease-in-out;
}
.elementor-element .deensimcpro-media-marquee-icon:before,
.elementor-element .deensimcpro-3d-grid-marquee-icon:before {
  background-image: url("../images/icons/media-marquee.svg");
}
.elementor-element .deensimcpro-card-marquee-icon:before {
  background-image: url("../images/icons/card.svg");
}
.elementor-element .deensimcpro-testimonial-marquee-icon:before {
  background-image: url("../images/icons/testimonial.svg");
}
.elementor-element .deensimcpro-text-marquee-icon:before {
  background-image: url("../images/icons/text.svg");
}

.elementor-element .deensimcpro-product-marquee-icon:before {
  background-image: url("../images/icons/product.svg");
}
.elementor-element .deensimcpro-product-cat-marquee-icon:before {
  background-image: url("../images/icons/category.svg");
}

.elementor-element .deensimcpro-post-marquee-icon:before {
  background-image: url("../images/icons/post.svg");
}
.elementor-element .deensimcpro-sticky-cards-icon:before {
  background-image: url("../images/icons/sticky-cards.svg");
  animation: none;
  width: 46px;
  height: 30px;
  background-position: center;
}
.elementor-element .deensimcpro-image-accordion-icon:before {
  background-image: url("../images/icons/image-accordion.svg");
  animation: none;
  width: 72px;
  background-position: center;
  background-size: contain;
}

.elementor-element .deensimcpro-circular-text-icon:before {
  content: "";
  background-image: url("../images/icons/circular-text.svg");
  background-size: cover;
  background-position: center;
  width: 28px;
  height: 28px;
  display: block;
  animation: deensimcproMarqueeIconRotation 3s infinite alternate ease-in-out;
}

@keyframes deensimcproMarqueeIconScroll {
  to {
    background-position: right center;
  }
}

@keyframes deensimcproMarqueeIconRotation {
  to {
    transform: rotate(360deg);
  }
}

.elementor-panel
  #elementor-panel-category-marquee_addons_pro
  .elementor-element--promotion
  .elementor-element {
  opacity: 0.5;
}

/* Target Column label (Media + Product marquee gaps) 
.elementor-control-deensimcpro_media_marquee_gap
  .elementor-control-gap-label[for*="column"],
.elementor-control-deensimcpro_cat_marquee_gap
  .elementor-control-gap-label[for*="column"],
.elementor-control-deensimcpro_testimonial_marquee_gap
  .elementor-control-gap-label[for*="column"],
.elementor-control-deensimcpro_product_marquee_gap
  .elementor-control-gap-label[for*="column"] {
  font-size: 0; 
}

.elementor-control-deensimcpro_media_marquee_gap
  .elementor-control-gap-label[for*="column"]::after,
.elementor-control-deensimcpro_cat_marquee_gap
  .elementor-control-gap-label[for*="column"]::after,
.elementor-control-deensimcpro_testimonial_marquee_gap
  .elementor-control-gap-label[for*="column"]::after,
.elementor-control-deensimcpro_product_marquee_gap
  .elementor-control-gap-label[for*="column"]::after {
  content: "Card";
  font-size: 10px;
}


.elementor-control-deensimcpro_media_marquee_gap
  .elementor-control-gap-label[for*="row"],
.elementor-control-deensimcpro_cat_marquee_gap
  .elementor-control-gap-label[for*="row"],
.elementor-control-deensimcpro_testimonial_marquee_gap
  .elementor-control-gap-label[for*="row"],
.elementor-control-deensimcpro_product_marquee_gap
  .elementor-control-gap-label[for*="row"] {
  font-size: 0; 
}

.elementor-control-deensimcpro_media_marquee_gap
  .elementor-control-gap-label[for*="row"]::after,
.elementor-control-deensimcpro_cat_marquee_gap
  .elementor-control-gap-label[for*="row"]::after,
.elementor-control-deensimcpro_testimonial_marquee_gap
  .elementor-control-gap-label[for*="row"]::after,
.elementor-control-deensimcpro_product_marquee_gap
  .elementor-control-gap-label[for*="row"]::after {
  content: "Top & Bottom";
  font-size: 10px;
}
*/
