.elementor-element .eicon-deensimc:after {
  content: "MA";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 3px 4px;
  border: 1px solid #474242;
  border-right: none;
  border-top: none;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2c2762;
  border-radius: 3px;
}
