.deensimc-img-wrapper {
  display: flex;
  flex-direction: column;

  img {
    max-width: none;
  }
  .deensimc-image-marquee-caption {
    line-height: 1.2;
  }
}

.deensimc-img-wrapper img {
  width: 250px;
  object-fit: cover;
}
