.deensimc-img-wrapper {
  display: flex;
  flex-direction: column;

  img {
    max-width: none;
    width: 250px;
    object-fit: cover;
  }
  .deensimc-image-marquee-caption {
    line-height: 1.2;
  }
}
