.deensimc-news-ticker {
  flex-direction: row;
  align-items: stretch;
  padding-block: 0;
  margin-block: var(--deensimc-container-padding);
  min-height: fit-content;
  background: #fff;
}
.deensimc-news-ticker-label {
  white-space: nowrap;
  padding: 20px;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  z-index: 100;
  flex-shrink: 0;
  background: #000;
}

.deensimc-news-ticker .deensimc-marquee-track-wrapper {
  position: relative;
  max-width: 100%;
  width: 100px;
  flex-grow: 1;
}

.deensimc-label-heading {
  color: #fff;
  margin: 0;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  font-weight: 600;
}

.deensimc-label-heading h1,
.deensimc-label-heading h2,
.deensimc-label-heading h3,
.deensimc-label-heading h4,
.deensimc-label-heading h5,
.deensimc-label-heading h6,
.deensimc-label-heading div,
.deensimc-label-heading span,
.deensimc-label-heading p {
  color: inherit;
  background: inherit;

  margin: 0;
  line-height: 1.2;
}

.deensimc-news-wrapper {
  display: flex;
  align-items: center;
  gap: var(--deensimc-item-gap);
}
.deensimc-scroll-text {
  white-space: nowrap;
}

.deensimc-news-ticker-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Font Awesome icons */
.deensimc-news-ticker-icon i {
  display: inline-block;
  line-height: 1;
}

/* SVG icons */
.deensimc-news-ticker-icon svg {
  fill: currentColor;
}

.deensimc-seperator-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.deensimc-seperator-icon svg {
  fill: currentColor;
}

.deensimc-seperator-text {
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
}

.deensimc-seperator-feature-image img {
  display: inline-block;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0 8px;
}
