.deensimc-input-container {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  width: fit-content;
  margin-left: auto; /* Temporary */
}
.deensimc-search-submit-button,
.deensimc-search-input-triggerer {
  background: #ccc;
  border: none;
  padding: 16px; /* Dynamic */
  font-size: 20px; /* Dynamic */
  border-radius: 0;
  color: #000;
}
.deensimc-input-field-wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 99999999;
}
.deensimc-text-field-wrapper {
  padding: 8px;
  background-color: #e9e9e9; /* Dynamic */
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
.deensimc-input-container .deensimc-input-field {
  border: none !important;
  background-color: transparent !important;
  flex-grow: 1;
  padding: 0 !important;
  &:focus {
    border: none !important;
    outline: none !important;
  }
}
.deensimc-left-input .deensimc-input-container {
  align-items: stretch;
}

.deensimc-input-field-icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  opacity: 0.5;
  font-size: 16px;
  color: #000;
  svg {
    width: 16px;
  }
  &:hover {
    background-color: transparent !important;
  }
}
.deensimc-input-field-clear-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  margin-left: 8px;
  padding: 0;
  font-size: 14px;
  &:focus {
    border: none !important;
    outline: none !important;
  }
}

.deensimc-placeholder-icon {
  margin-right: 8px;
}

.deensimc-search-submit-button {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

/*
  conditional classes
  */
.deensimc-left-input .deensimc-input-field-wrapper {
  transition: width 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  height: 100%;
  right: 100%;
}
.deensimc-left-input .deensimc-input-field-wrapper.deensimc-search-open {
  width: 400px; /* Dynamic */
  max-width: 75vw;
}

.deensimc-popup-input .deensimc-input-field-wrapper {
  position: fixed;
  width: 0;
  top: 80px;
  left: 0;
}

.deensimc-popup-input .deensimc-input-field-wrapper.deensimc-search-open {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
