.elementor-element .eicon-deensimc-pro:after {
  content: "MA PRO";
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 4px;
  border: 1px solid #474242;
  border-right: none;
  border-top: none;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background-color: #e84b3e;
  border-radius: 3px;
}

.elementor-element .deensimcpro-media-marquee-icon:before,
.elementor-element .deensimcpro-card-marquee-icon:before,
.elementor-element .deensimcpro-testimonial-marquee-icon:before,
.elementor-element .deensimcpro-text-marquee-icon:before,
.elementor-element .deensimcpro-product-cat-marquee-icon:before,
.elementor-element .deensimcpro-post-marquee-icon:before,
.elementor-element .deensimcpro-sticky-cards-icon:before,
.elementor-element .deensimcpro-image-accordion-icon:before,
.elementor-element .deensimcpro-3d-grid-marquee-icon:before,
.elementor-element .deensimcpro-product-marquee-icon:before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  width: 36px;
  height: 24px;
  margin-inline: auto;
  display: block;
  animation: deensimcproMarqueeIconScroll 3s infinite alternate ease-in-out;
}
.elementor-element .deensimcpro-media-marquee-icon:before,
.elementor-element .deensimcpro-3d-grid-marquee-icon:before {
  background-image: url("../../images/icons/media-marquee.svg");
}
.elementor-element .deensimcpro-card-marquee-icon:before {
  background-image: url("../../images/icons/card.svg");
}
.elementor-element .deensimcpro-testimonial-marquee-icon:before {
  background-image: url("../../images/icons/testimonial.svg");
}
.elementor-element .deensimcpro-text-marquee-icon:before {
  background-image: url("../../images/icons/text.svg");
}

.elementor-element .deensimcpro-product-marquee-icon:before {
  background-image: url("../../images/icons/product.svg");
}
.elementor-element .deensimcpro-product-cat-marquee-icon:before {
  background-image: url("../../images/icons/category.svg");
}

.elementor-element .deensimcpro-post-marquee-icon:before {
  background-image: url("../../images/icons/post.svg");
}
.elementor-element .deensimcpro-sticky-cards-icon:before {
  background-image: url("../../images/icons/sticky-cards.svg");
  animation: none;
  width: 46px;
  height: 30px;
  background-position: center;
}
.elementor-element .deensimcpro-image-accordion-icon:before {
  background-image: url("../../images/icons/image-accordion.svg");
  animation: none;
  width: 72px;
  background-position: center;
  background-size: contain;
}

.elementor-element .deensimcpro-circular-text-icon:before {
  content: "";
  background-image: url("../../images/icons/circular-text.svg");
  background-size: cover;
  background-position: center;
  width: 28px;
  height: 28px;
  display: block;
  animation: deensimcproMarqueeIconRotation 3s infinite alternate ease-in-out;
}

@keyframes deensimcproMarqueeIconScroll {
  to {
    background-position: right center;
  }
}

@keyframes deensimcproMarqueeIconRotation {
  to {
    transform: rotate(360deg);
  }
}

/* #elementor-panel-category-marquee_addons_pro_promo
  .elementor-element--promotion,
.elementor-element--promotion:has(.eicon-deensimc-pro) {
  opacity: 0.7;
} */

#elementor-panel-category-marquee_addons_pro_promo .eicon-lock,
.elementor-element--promotion:has(.eicon-deensimc-pro) .eicon-lock {
  right: auto;
  left: 4px;
  width: fit-content;
}

.dialog-buttons-buttons-wrapper:has(.ma-dialog-buttons-action)
  .dialog-buttons-action:not(.ma-dialog-buttons-action) {
  display: none !important;
}

.elementor-element .deensimcpro-product-carousel-icon:before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  width: 36px;
  height: 24px;
  margin-inline: auto;
  display: block;
}
.elementor-element .deensimcpro-product-carousel-icon:before {
  background-image: url("../../images/icons/product-carousel.svg");
}
