# Deploy to WP.org
name: Deploy to WordPress.org

on:
  push:
    tags:
    - "*"
    
jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2

      # These steps run ONLY when release was created
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install npm dependencies
        run: npm install

      - name: Run build script (minify assets)
        run: npm run build

      - name: Remove unminified CSS files
        run: find assets/css -type f -name '*.css' ! -name '*.min.css' ! -path 'assets/css/plugins/*' -delete

      - name: Remove unminified JS files
        run: find assets/js -type f -name '*.js' ! -name '*.min.js' ! -path 'assets/js/plugins/*' -delete
      
      - name: WordPress Plugin Deploy
        id: deploy
        uses: 10up/action-wordpress-plugin-deploy@stable
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: marquee-addons-for-elementor
